<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_hader" th:content="${_csrf.headerName}"/>
    <link rel="icon" type="image/x-icon" href="/image/favicon.ico"/>
    <title>系统编码</title>
    <!--<link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}"/>-->
    <!--<script th:src="@{/jquery/jquery-3.0.0.min.js}" ></script>-->
    <!--<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>-->
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap-datetimepicker.min.css}"/>
    <script th:src="@{/jquery/jquery.twbsPagination.min.js}"></script>
    <script th:src="@{/js/tooltips/iziToast.min.js}" type="text/javascript"></script>
    <link rel="stylesheet" th:href="@{/css/tooltips/iziToast.css}"/>
    <script th:src="@{/bootstrap/js/bootstrap-datetimepicker.min.js}"></script>
    <script th:src="@{/bootstrap/js/bootstrap-datetimepicker.zh-CN.js}"></script>
</head>
<script th:inline="javascript">
    var menuType = [[${menuType}]];
    var initParam = {
        "tableid" : "showListTable", //表格字段
        "url" : "/sysCodeController/sysCodeList",
        "optstr" : "数据操作字段",
        "searchid" : "searchDiv",
        "pageidc" : "pagination-c",
        "pageidp" : "pagination-p",
        "opt" : [
            {
                showContent : '<span class="label label-success">修改</span>',
                functionName : "add"
            },
            {
                showContent : '<span class="label label-danger">删除</span>',
                functionName : "del"
            }
        ]
//
//
//                '&nbsp;' +
//                '<span style="cursor: pointer" class='label label-info'>详细</span>&nbsp;' +
//                '<span style="cursor: pointer" class='label label-danger'>删除</span>'
    }
    $(function(){
        initMenu("indexNav",menuType);
        initList(initParam);
    });
    function search(){
        initList(initParam);
    }
    function add(id){
        var sysCodeType = $("#sysCodeType").val();
        /*<![CDATA[*/
        window.location.href = "/sysCodeController/editSysCodePage?id=" + id + "&type=" + sysCodeType;
        /*]]>*/
    }
    function del(id){
//        alert(id);
        showConfirmDialog("是否删除","","delCallback(" + id + ")","mydialog");
    }
    function delCallback(id){
        $.ajax({
            url:"/sysCodeController/delSysCode",
            type:'POST',
            data : {id:id},
            async : false,
            success:function (data) {
                var success = data.success;
                if(success){
                    showSuccessMsg("删除成功");
                    initList(initParam);
                }else{
                    showErrorMsg(data.msg);
                }
            }
        });
        $("#mydialog").modal("hide");
    }
</script>
<body>
<!--导航栏-->
<nav id="indexNav" class="navbar navbar-default" role="navigation" style="height: 50%;"></nav>
<div class="container" id="indexContainer">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row" id="searchDiv">
                <div class="col-md-3 col-sm-3 col-xs-12 form-inline">
                    <label>系统编码类型:</label>
                    <select id="sysCodeType" class="form-control" >
                        <option th:each="sysCodeType:${sysCodeTypes}" th:value="${sysCodeType.code}" th:text="${sysCodeType.name}">
                        </option>
                    </select>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12 form-inline">
                    <button type="button" onclick="search();" class="btn btn-primary">查询</button>
                    <button type="button" data-toggle="modal" onclick="add('');" class="btn btn-success">新增</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="table-responsive">
            <table id="showListTable" class="table table-hover">
                <caption>系统编码列表 </caption>
                <thead>
                <tr>
                    <th field="id" style="display: none">编号</th>
                    <th field="code">编码</th>
                    <th field="name">名称</th>
                    <th field="ora">排序</th>
                    <th width="20%" field="opt">操作</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <div id="pagination-p" class="col-md-12 col-sm-12" style="margin-top: -35px;">
            <ul id="pagination-c" class="pagination-md"></ul>
        </div>
    </div>

</div>
<!--退出确认模态框-->
<form th:action="@{/logout}" method="post" id="logoutform" style="display: none;">
    <input type="submit" value="登出"/>
</form>
<a style="display: none;" href="#" class="trigger-success">Success</a>
<a style="display: none;" href="#" class="trigger-error">Error</a>
<script th:src="@{/js/tooltips/iziToast.min.js}" type="text/javascript"></script>
<script th:src="@{/js/util.js}"></script>

</body>
</html>