<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:jjwm="/tld/jjwm.tld"  >

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <title>斤斤屋谜</title>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_hader" th:content="${_csrf.headerName}"/>
    <link rel="stylesheet" th:href="@{bootstrap/css/bootstrap.min.css}"/>
    <script th:src="@{jquery/jquery-3.0.0.min.js}" ></script>
    <script th:src="@{bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/util.js}"></script>
    <script th:src="@{/jquery/jquery.twbsPagination.min.js}"></script>
    <link rel="stylesheet" th:href="@{/css/tooltips/iziToast.css}"/>

</head>
<script>
    $(function(){
        //屏幕可显示高度 - 导航栏高度 - 页脚高度
        var showHeight = $(window).height() - $("#indexNav").height() - $("#indexFooter").height() - 20;
        //$("#indexContainer").height(showHeight);
        $('#pagination-demo').twbsPagination({
            totalPages: 35,
            visiblePages: 5,
            first:'&lt;&lt;',
            prev:'&lt;',
            next:'&gt;',
            last:'&gt;&gt;',
            onPageClick: function (event, page) {
                $('#page-content').text('Page ' + page);
            }
        });
        initMenu("indexNav","");
//        iziToast.error({
//            title: 'Error',
//            message: '未查询到数据',
//            position: 'bottomRight',
//            transitionIn: 'fadeInDown'
//        });
        //alert($("#indexNav").html())
    });
</script>
<body>


<nav id="indexNav" class="navbar navbar-default" role="navigation" style="height: 50%;">

</nav>
首页

<form th:action="@{/logout}" method="post" id="logoutform" style="display: none;">
    <input type="submit" value="登出"/>
</form>

<a style="display: none;" href="#" class="trigger-success">Success</a>
<a style="display: none;" href="#" class="trigger-error">Error</a>
<script th:src="@{/js/tooltips/iziToast.min.js}" type="text/javascript"></script>
<script th:src="@{/js/tooltips/tooltips.js}" type="text/javascript"></script>
</body>
</html>